

.experiment-detail{
    .filter-card{
        .card-body{
            // background-color: var(--card-header);
            border: 1px solid var(--card-border);
            font-size: 0.875rem;
            color: var(--text-gray);
            padding: 0;
        }
    }
}