@import "../../../assets/scss/abstracts/abstracts-dir.scss";
.custom-header {
    height: fontSize(64px);

    .profile-icon {
        position: relative;
        display: block;
        color: #5f697d;
        letter-spacing: 0.025em;
        font-weight: 400 !important;
        cursor: pointer;
        text-decoration: unset;
        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
}
