@import './abstracts/abstracts-dir.scss';
// @import "../fonts/San-Francisco-Pro-Fonts/index.css";
//
:button:input:check-box:search-box:cursor:container:sidebar:modal:alert //

html {
  overflow-x: hidden;
}

.page-titel {
  color: var(--theme-text) !important;
}
.sub-page-titel{
  color: var(--text-gray) !important;
  font-size: fontSize(16px);
  font-weight: normal;
}

