.modal-page {
    .card {
        &.light-blue {
            background-color: var(--light-blue) !important;

            >.card-body {
                background-color: var(--light-blue) !important;

                &.modal-body-scroll {
                    max-height: 350px;
                    overflow-x: auto;
                }
            }
        }

    }
}