@import "../../assets/scss/abstracts/abstracts-dir.scss";
.auth-layout {
    // background-color: $primary-bg;
    background-image: url(https://silicon.createx.studio/assets/img/account/signin-bg.jpg);
    min-height: 100vh;
    background-position: center !important;
    background-size: cover;
    img,h4 {
        margin: 0 auto;
        color: $white;
    }
}
.auth-panel {
    padding: 0 2rem;
    width: 100%;
}
