
.user-activity-card{
    .card-header{
        h4{
            font-size: 1rem;
            margin-top: .7rem;
        }
    }
    .table{
td{
    font-weight: 500;
}
        .user-activity{
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            h4{
                font-size: 1rem;
            }
        }
    }
}